.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form{
  background-color: aliceblue;
  padding: 10px 50px;
  border-radius: 10px;

}

h2{
  color: palevioletred;
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: palevioletred;
  color: azure;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0px;
}



input{
  padding: 10px;
  margin: 10px 0px;
}